 body {
      margin: 0;
      font-family: Arial, sans-serif;
      
    }

    .container {
      display: flex;
      height: 100vh;
      
      
    }

    .sidebar {
      background: linear-gradient(to bottom, #4CAF50, #2E7D32);
      width: 200px;
      color: white;
      padding: 20px;
      box-sizing: border-box;
    }

    .sidebar h2 {
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .sidebar .menu-button {
      display: block;
      background-color: #66bb6a;
      color: white;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .sidebar .menu-button:hover {
      background-color: #558b2f;
    }

    .main {
      flex: 1;
      padding: 20px;
      background-color: #faf8f8;
      box-sizing: border-box;
    }

    .main h1 {
      text-align: center;
      color:#66bb6a;
      
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-top: 40px;
      justify-items: center;
    }

    .card {
      background-color:white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 500px;
    }

    .card h2 {
      margin: 0;
      font-size: 18px;
      color: #555;
    }

    .card p {
      font-size: 24px;
      color:#66bb6a ;
      font-weight: bold;
      margin: 10px 0 0;
    }
    .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #e3f2fd;
  transition: all 0.3s ease;
}